a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.side-nav-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.side-nav-item span {
  font-size: 1rem;
  font-weight: normal;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
