<section>
  <form
    [formGroup]="loginForm!"
    fxLayout="column"
    fxLayoutGap="2px"
    fxLayoutAlign="center center"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input type="email" matInput formControlName="email" />
      <mat-error
        *ngIf="
          loginForm!.get('email')!.errors !== null &&
          loginForm!.get('email')!.errors!['required']
        "
        >Email is required.</mat-error
      >
      <mat-error>Email is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-error>Password is required.</mat-error>
    </mat-form-field>
    <button
      *ngIf="!(isLoading$ | async)"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm!.invalid"
    >
      Submit
    </button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
